body {
  font-family: 'Roboto', sans-serif;
}

.header-hero {
  background-color: #1F2937;
}

.main-title {
  font-size: 48px;
  font-weight:bolder;
  color: #F9FAF8;
}

.subtext,.links {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 400;
}

.header {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
}

.image {
  color: #E5E7EB;
  background-color: grey;
}