body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.header-hero {
  background-color: #1F2937;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 48px;
  font-weight:800;
  color: #F9FAF8;
}

.subtext,.links {
  color: #E5E7EB;
  font-weight: 400;
}

.header-hero .header {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 6px;
  border-color: #3882F6;
  font-size: inherit;
  font-weight: bold;
  padding: 6px 30px;
}

.hero .image {
  color: #E5E7EB;
  background-color: grey;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.hero {
  display: flex;
  padding: 130px 0px;
}

.hero-text {
  max-width: 720px;
  flex: 1;
}

.subtext {
  padding-right: 30px;
  padding-bottom: 13px;
}

.infographic {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  padding-top: 45px;
  padding-bottom: 100px;
}

.information .header {
  font-size: 36px;
  font-weight:800;
  color: #1F2937;
  padding-top: 45px;
}

.infographic li {
  color:darkslategray;
  font-size: 18px;
  width: 165px;
  text-align: center;
}

.infographic .image {
  border: 5px solid #3882F6;
  height: 165px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  background-color: #E5E7EB;
}

.text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
}
.author {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
}