body {
  font-family: 'Roboto', sans-serif;
}

.header-hero {
  background-color: #1F2937;
  font-size: 18px;
}

.main-title {
  font-size: 48px;
  font-weight:bolder;
  color: #F9FAF8;
}

.subtext,.links {
  color: #E5E7EB;
  font-weight: 400;
}

.header {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 6px;
  border-color: #3882F6;
  font-size: inherit;
  font-weight: bold;
  padding: 6px 30px;
}

.image {
  color: #E5E7EB;
  background-color: grey;
}

.links {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}